<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
body {
  padding: 0px;
  color: white;
  font-size: 25px;
  margin: 0px;
  background: url('/bg.jpg');
  background-size: cover;
  background-position: center;
}
h1, p {
  margin: 0px;
}
.button {
  background: #e4302f;
  color: rgb(226, 226, 226);
  text-decoration: none;
  padding: 0.2em;
  font-size: 1.2em;
  border-radius: 10px;
  transition: all .2s;
}
.button:hover {
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  background: black;
  color: white;
  opacity: 0.9;
  transition: all .2s;
  margin: 0px 10px;
}
.fa:hover {
  opacity: 1;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

strong span {
  color: #f78a47 !important;
}

@media screen and (min-width: 720px) {
  body {
    font-size: 30px;
  }
}
</style>
