<template>
  <div class="container">
    <div class="hero">
      <div class="hero-description">
        <h1>Cristina Escribano</h1>
        <p>Me encargo de <strong>
           <vue-typer :text='words'></vue-typer>
          </strong></p>
        <div class="button-container">
          <a class="button" href="#">cristina@gmail.com</a>
        </div>
      </div>
      <div class="hero-image">
        <img src="../assets/logo.png" class="hero-img" />
      </div>
    </div>
    <div class="social-buttons-container">
       <ShareNetwork v-for="network in networks" :key="network.network"
          :network="network.network"
          :url="network.url"
          :title="network.title"
          :description="network.description"
          :quote="network.quote"
          :hashtags="network.hashtags"
        >
          <span :class="network.classNetw"></span>
      </ShareNetwork>
    </div>
  </div>
</template>

<script>
import TwitterButton from "vue-share-buttons/src/components/TwitterButton";
import { mapState } from "vuex";
import { VueTyper } from 'vue-typer'

export default {
  components: {TwitterButton, VueTyper},
  data() {
    return {
      words: ["procesos contenciosos", "procesos civiles!", "procesos penales"]
    }
  },
  computed: {
    ...mapState(['networks'])
  }
}
</script>

<style scoped>
.button {
  margin-top: 10px;
  display: inline-block;
}
.button-container {
  align-self: flex-end;
}

.container {
  height: 100vh;
  width: 100vw;
  background: rgba(54, 54, 54, 0.699);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
}
.hero-img {
  max-width: 100%;
}
.hero {
  display: flex;
  flex-direction: column-reverse;
}
.social-buttons-container {
  margin-top: 20px;
}

@media screen and (min-width: 720px) {
  .hero {
    flex-direction: row;
  }
  .button-container {
    align-self: flex-end;
  }
  strong {
    color: #f78a47;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero {
    display: flex;
    justify-content: space-around;
  }
  .hero-description {
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

</style>
